<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<table class="table">
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Price</th>
      <th>State</th>
      <th>Dealership</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= car.price %></td>
        <td><%= car.state %></td>
        <td><%= car.dealership.name %></td>
        <td><%= link_to 'Show', user_car_path(car) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
